<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      María Juárez Molera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Tarjeta de perfil -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Quién soy?</ion-card-title>
    </ion-card-header>

    <!-- Imagen centrada-->

    <ion-card-content>
      <div style="display: flex; justify-content: center; align-items: center; height: 300px;">
        <img src="https://avatars.githubusercontent.com/u/129156903?v=4" alt="Profile picture" style="width: 250px; height: 250px; border-radius: 50%; margin-bottom: 150px;">
      </div>


      <!-- Contenido textual -->
      María Juárez Molera es una estudiante y delegada de tercer curso de Ingeniería Informática de la Universidad Europea de Madrid (UEM). Entre los conocimientos técnicos sobre informática que manejo,
      se encuentran el uso de lenguajes de programación como JAVA, C++, PYTHON y ENSAMBLADOR. Lo que más me gusta es todo aquello que se encuentra relacionado con las bases de datos y la inteligencia artificial,
      por lo que en un futuro, me gustaría poder seguir formándome para poder seguir aprendiendo mucho más sobre ello y poder así dedicarme a ello de forma profesional. Así mismo, formo parte del equipo de volleyball
      de la Universidad y me encanta asistir a charlas en las que poder aprender de la mano de profesionales de todos los hámbitos del mundo de las nuevas tecnologías.
      ​.
    </ion-card-content>
  </ion-card>

  <!-- Puedes eliminar o modificar este componente según prefieras -->
  <app-explore-container name="Sobre mi"></app-explore-container>
</ion-content>
