<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Christian Vladimir Sucuzhanay Arevalo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Who I'm</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Christian Vladimir Sucuzhanay Arevalo is a professor at the Universidad Europea de Madrid, specifically in the School of Architecture, Engineering, and Design. He is part of the Department of Digital Sciences and Technologies.
      He is also active on GitHub, where he shares his work and projects related to technology and programming. Additionally, he has been involved in administrative roles in companies based in Madrid.
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Profile page"></app-explore-container>
</ion-content>
