<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Christian Vladimir Sucuzhanay Arevalo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Who I'm</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      María Juárez Molera is the author of a blog that focuses on various philosophical and religious topics. Her writings cover a wide range of subjects, including discussions on political and religious messianism, 
      philosophical concepts like dualism and virtue, and tasks related to academic philosophy. Her blog posts often reflect her deep engagement with philosophy,
      examining ideas from historical figures such as Plato, Aristotle, and Kant. She also provides reflections on topics related to ethics, human existence, and the relationship between body and soul​
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Profile page"></app-explore-container>
</ion-content>
